.content {
  padding: 12px 24px; 
  border: 1px solid #e7e7e7;
  border-left-width: 4px;
  border-radius: 3px;
  background-color: #f6fff4;  
  color: #60b563;
}

.content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #21b259;
}

.modal {
  display: none;
  z-index: 1000; 
}
