{% extends 'base.html' %}

{% block content %}

  <div class="content">
    <h1>项目介绍</h1>
    <p>我准备设计一个程序，用于项目管理。负责记录项目执行事件并可视化监视我的项目执行时间分布。

        这个程序可以增，删，查，改项目，并记录某个项目的每一段开始，结束时间，存储在markdown文件构成的数据日志上。
        
        每个项目存储为一个markdown .md文件。项目具有“In Planing”,"In Process", “Done”等属性，并可以输入“#”形式的标签并支持后续编辑。具有若干条“执行”，每条执行包括了“开始日期-时间”，“结束日期-时间”，“用时（结束-开始时间）”以及对上述所有条目的“日统计”，“周统计”，“月统计”，“年统计”。
        
        当打开程序时，程序自动读取文件目录下所有项目的markdown文件。
        
        整体为视图页面，展示“当日”的统计数据，并可以切换为：“本周”“本月”“本年度”视图。当日的统计数据按照“总时间”降序排行榜地形式显示{项目名称}：{HH/MM/SS},其中{HH/MM/SS}表示当日总用时，为属于当日所有事件持续时间的总和，按照HH/MM/SS的时间格式显示。
        点击排行榜中的项目名称，开始计时，作为新的“执行”的“开始时间”记录到.md文件中，并在再次点击时
        
        视图页面最下方为一个“+”号按钮，用于新建项目，输入项目名称并选择“In Planing”,"In Process", “Done”之一的属性后会在对应的属性文件夹下新建{项目名}.md文件，当修改其属性时，就会从原来属性所在的文件夹移动到目标属性的文件夹。</p> 
  </div>
  <!-- 新建项目按钮 -->
  <button id="new-btn">新建项目</button> 

  <!-- 弹窗 -->
  <div id="new-modal" class="modal">
    <div class="modal-content">
      <label>项目名称:</label>
      <input type="text" id="project-name">
      
      <label>项目状态:</label>
      <select id="project-status">
        <option value="In Planning">In Planning</option>
        <option value="In Process">In Process</option>
        <option value="Done">Done</option>
        <option value="Paused">Paused</option>
      </select>
      
      <button id="cancel-btn">取消</button>
      <button id="ok-btn">确定</button>
    </div>
  </div>

{% endblock %}