{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="modal">

    <label>项目名称:</label>
    <input type="text" id="project-name">
  
    <!-- 下拉框 -->
    <label>项目状态:</label>
    <select id="project-status">
        <option value="In Planning">In Planning</option>
        <option value="In Process">In Process</option>
        <option value="Done">Done</option>
        <option value="Paused">Paused</option>
    </select>
  
    <button id="cancel">取消</button>
    <button id="ok">确定</button>
  
  </div>

  <script src="home.html"></script>
  <script src="../static/js/script.js"></script>\

{% endblock %}

