.active {
    font-weight: bold;
    color: red;
}

nav{
    display: flex;
    width: 100%;
    max-width: 960px;
    overflow-x: auto; 
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    background-color: #006400;
    border: 1px solid yellow;
}


.logo{
    height: 24px;
}

.title {
    font-size: 17px;
    line-height: 17px;
    vertical-align: middle;  
}

/* 左侧项目 */.logo, 
.title {
    flex-shrink: 0; 
    margin-right: auto;
    vertical-align: middle;
}


.title,
.menu li {
    line-height: 1.5em;
}

/* 右侧项目 */  
.menu {
    margin-left: auto;
    list-style: none; 
    margin: 0;
    padding: 0;   
}
/* 菜单li */
.menu li {
    display: inline-block;
    padding: 5px 10px;
} 

/* 链接a */
.menu a {
    display: inline-block;
    padding: 10px;
    color: #000; 
    text-decoration: none;
}
/* 活动链接样式 */  
.menu a.active {
    color: red;
    font-weight: bold; 
  }



/*create.html*/
.page-header {
    text-align: center;
}

.new-project {
    text-align: center;
    margin: 20px 0; 
}

.btn {
    padding: 8px 14px;
    border-radius: 4px;
    background: #0077ff;
    color: #fff; 
}